.button {
    padding: calc(0.7rem + 1px) calc(1.75rem + 1px);
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0.475rem;
}

button:disabled,
button[disabled]{
  opacity: 0.5;
}